
    <!-- Navigation -->
    {{>navbar}}

    <!-- Masthead -->
    <header class="masthead text-white page">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <h2>Contact Us!</h2>
          </div>
        </div>
      </div>
    </header>
    <section class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="get-in-touch">
              <h2>Need more information?</h2>
              <hr>
              <p>For any questions regarding our products and services you might have, feel free to get in touch. If you are interested in doing business with KAMANA INTERNATIONAL TRADERS, do not hesitate to leave an email or you can directly call us on any of the number given here. Countries that has our company representative are given below. </p>
            </div>
          </div>
        </div>
        <div class="row panel-body">
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/italy.jpg"> Italy</h3>
                <hr>
                <p>
                  <b>Sapana Tamang</b>
                  <br>
                  Via Camillo Prampolini 6 
                  <br>
                  20158 Milano
                  <br>
                  <i class="fa fa-phone"></i> ‭0039 388 7511730
                  <br>
                  <i class="fa fa-at"> cpna44@gmail.com </i>
                </p>
                <br>
              </div> 
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/uk.png"> UK</h3>
                <hr>
                <p>
                  <b>Shantiya Tamang</b>
                  <br>
                  42 Wingly Road Middlesex
                  <br>
                  TW135HE Feltham, London
                  <br>
                  <i class="fa fa-phone"></i> 00447400076108
                </p>
                <br>
              </div> 
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/japan.jpg"> Japan</h3>
                <hr>
                <p>
                  <b>Thakur Prasad Kandel</b>
                  <br>
                  Sathi Pvt ltd 
                  <br>
                  Tokyo to Shibuya-Ku Sasazuka 3-9-7
                  <br>
                  <i class="fa fa-phone"></i>&nbsp &nbsp 0333706577 
                  <br>
                  <i class="fa fa-mobile"></i> &nbsp&nbsp&nbsp&nbsp 07038281966
                  <br>
                  <i class="fa fa-at"></i> bharat111@gmail.com
                </p>
                <br>
              </div>
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/vietnam.png"> Vietnam</h3>
                <hr>
                <p>
                  <b>Nabin Bhandari</b>
                  <br>
                  19/13 Huynh Thuc Khang, Hoian, Quang Nam
                  <br>
                  <i class="fa fa-phone"> 0084788224328</i>
                  <br>
                  <i class="fa fa-at"> nabinbhandari04@gmail.com</i>
                <br>
              </div> 
        </div>
            <div class="row panel-body">
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/nepal.png"> Nepal</h3>
                <hr>
                <p>
                  <b>Ramsharan Aryal</b>
                  <br>
                  Saera Optic and Gog House
                  <br>
                  Khairahani-8, Parsa  Bazar, Chitwan
                  <br>
                  <i class="fa fa-phone"></i> 009779855053425
                  <br>
                  <i class="fa fa-at"></i> aryal2040@gmail.com
                </p>
                <br>
              </div> 
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/denmark.png"> Denmark</h3>
                <hr>
                <p>
                  <b>Radha Krishna Sapkota</b>
                  <br>
                  Slotsherrensvej 243 2610 Rødovre
                  <br>
                  <i class="fa fa-mobile"></i> 004560225527 
                  <br>
                  <i class="fa fa-at"></i> sapkota550@yahoo.co.uk
                </p>
                <br>
              </div> 
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/cr.jpg"> Czech Republic</h3>
                <hr>
                <p>
                  <b>Chhabi Lal Kandel</b>
                  <br>
                  Šmeralova 137/3 17000 Praha 6 Bubeneč 
                  <br>
                  <i class="fa fa-phone"></i> 420773674084 
                  <br>
                  <i class="fa fa-at"></i> alex.kandel9@gmail.com
                </p>
                <br>
              </div>
              <div class="col-md-3 col-sm-6">
                <h3><img src="/img/australia.png"> Australia</h3>
                <hr>
                <p>
                  <b>Yajna Mani Rijal</b>
                  <br>
                  1elder st watsonia, 3087,victoria
                  <br>
                  <i class="fa fa-phone"> +61413209894</i>
                  <br>
                  <i class="fa fa-at"> yagyarijal9@gmail.com</i>
                <br>
              </div> 
        </div>
        <div class="row panel-body">
          <div class="col-md-3 col-sm-6">
            <h3><img src="/img/switzerland.png"> Switzerland</h3>
            <hr>
            <p>
              <b>Nawaraj Ghimire</b>
              <br>
              Oberer Aareggweg 64.3004 bern 
              <br>
              <i class="fa fa-phone"></i> 0041786775640
              <i class="fa fa-at"> ghimire26@yahoo.com</i> 
            </p>
            <br>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3><img src="/img/france.png"> France</h3>
            <hr>
            <p>
              La Maison D'Himalaya 
              <br>
              65 Boulvard Henri Barbusse 91210 Draveil
              <br>
              <i class="fa fa-phone"></i> 0033169409151
              <br>
              <i class="fa fa-at"> nepalclick@gmail.com</i>
            </p>
            <br>
          </div>  
          <div class="col-md-3 col-sm-6">
            <h3><img src="/img/poland.jpg"> Poland</h3>
            <hr>
            <p>
              <b>Jiwan KC </b>
              <br>
              <a href="https://www.himalayanyeti.com.pl/" target="_blank">Restaurant Himalayan Yeti</a>
              <br>
              Polna 13 00-635 Warsaw
              <br>
              <i class="fa fa-mobile"></i> 0048729212673
              <br>
              <i class="fa fa-at"> jiwankc@gmail.com</i>
            </p>
            <br>
          </div> 
          <div class="col-md-3 col-sm-6">
            <h3><img src="/img/spain.png"> Spain</h3>
            <hr>
            <p>
              <b>Bijaya Babu Accharya </b>     
              <br>
              Calle Alfons el magnanim 10,4-1
              <br>
              <i class="fa fa-mobile"></i> ‭‭+34 632 133 798‬‬
              <br>
              <i class="fa fa-at"> bijayadarpan@gmail.com</i>
            </p>
            <br>
          </div>  
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Contact us now!</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {{>footer}}