<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="\vendor\font-awesome\css\font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="\vendor\simple-line-icons\css\simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="\bootstrap-lightbox\bootstrap-lightbox.min.css">
    <link href="\css\landing-page.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container position-absolute company-number">
      <ul class="list-unstyled float-right">
        <li>Fiscal Code&nbsp&nbsp : 02714920184</li>
        <li>VAT number : 02714920184</li>
      </ul>
    </div>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu container">
      <a class="navbar-brand" href="/">
        <img src="img/logo.jpg" width="100"><span class="logo-text">KAMANA INT. TRADERS</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-container">
        <i class="fa fa-bars menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbar-container">
      <ul class="navbar-nav ml-auto">
        <li class="">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="we-supply">We Supply</a>
        </li>
        <li>
          <a href="what-we-do">What we do</a>
        </li>
        <li>
          <a href="our-team"></i>Our team</a>
        </li>
        <li>
          <a href="contact-us">Contact us</a>
        </li>
      </ul>
      </div>
    </nav>