
    <!-- Navigation -->
    {{>navbar}}

    <!-- Masthead -->
    <header class="masthead text-white page">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <h2>Our Team!</h2>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="body-container container">
        <div class="card">
          <img src="img/team/bishal.jpg">
          <h3>Bishal Tamang</h3>
          <p class="title">Chairman</p>
          <p class="email"> bitglad@gmail.com</p>
         <p><button><i class="fa fa-mobile"></i> +49 289 9972-758</button></p>
        </div>
        <div class="card">
          <img src="img/team/shiva.jpg">
          <h3>Shiva Prasad Rijal </h3>
          <p class="title"> CEO & Founder</p>
          <p class="email"> rijalshiva82@gmail.com</p>
         <p><button><i class="fa fa-mobile"></i> 0039 389 9988-126</button></p>
        </div>
        <div class="card">
          <img src="img/team/sanjay.jpg">
          <h3>Sanjay Mudbhary</h3>
          <p class="title">Chief Advisor</p>
          <p> sanjaymudbhary@hotmail.com</p>
         <p><button><i class="fa fa-mobile"></i> 0041 7917 60395</button></p>
        </div>
        <div class="card">
          <img src="img/team/dinesh.jpg">
          <h3>Dinesh Tamang</h3>
          <p class="title">Technical Coordinator</p>
          <p> tamangdinesh409@gmail.com</p>
         <p><button><i class="fa fa-mobile"></i> +39 3533620520</button></p>
        </div>
      </div>
    </section>


    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Contact us now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-12">
                  <a class="btn btn-lg btn-block btn-primary" href="/contact-us"> Contact Us</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {{>footer}}
