
    <!-- Navigation -->
    {{>navbar}}

    <!-- Masthead -->
    <header class="masthead text-white page">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <h2>Tea from Nepal</h2>
          </div>
        </div>
      </div>
    </header>

    <section class="our-client">
        <div class="container">
          <h5>History of Tea in Nepal</h5>
          <p>
            Nepal grows mainly 3 types of Tea, i.e. Camelia asamica and C. asamica spp lasiocalyx for CTC and Camellia sinesis for Orthodox Tea.  Nepali orthodox Tea is somewhat similar to Darjeeling Tea in its appearance, aroma and fruity taste. The reason for the similarity is that the eastern zones of Nepal, which are the main Tea producing regions of Nepal, have more or less the same geographical and topographical conditions as the Darjeeling and are juxtapose to each other.
          </p>
          <p>
            However, Nepal's Teas do stand apart from the Darjeeling Tea. Tea connoisseurs consider some of the Teas from Nepal to be much better than the Darjeeling Tea in its aroma, fusion, taste and colour. The biodiversity, topography and organic matter richest soil place Nepal Tea in a unique position.
          </p>
          <p>
            The abundance of fine hairy growth (pubescence) on the underside of the leaf, on the bud and sometimes even on the stalk gives Nepali orthodox Tea its fine 'tippy' quality and precious flavors. Similarly, CTC Tea of Nepal is famous for its strong, bright and full bodied liquor. Indeed, Nepal Tea is the symbol of quality from the Himalayas.
          </p>
          <p>
            Some seasonal quality of orthodox tea are listed as under:
          </p>
          <h5>Spring Flush</h5>
          <p>
            The early first flush Tea, harvested between February to mid April. <br>
            Light red colour with yellowish Green. <br>
            Liquor with Gentle taste with aroma and flavour. <br>
            Accepted by the connoisseurs as Afternoon Tea. <br>
          </p>
          <h5>Summer Flush</h5>
          <p>
            Tea Harvested first flush that comes in May and June. <br>
            This flush comes with consolidated qualities of Tea with bright and shinning colour with wonderful flavour, taste, aroma and muscatel. <br>
            Best for late afternoon Tea. <br>
          </p>
          <h5>Monsoon Flush</h5>
          <p>
            Tea Harvested first flush that comes in May and June. <br>
            This flush comes with consolidated qualities of Tea with bright and shinning colour with wonderful flavour, taste, aroma and muscatel. <br>
            Best for late afternoon Tea. <br>
          </p>
          <h5>Autumn Flush</h5>
          <p>
            Harvested in the Autumn. <br>
            The last harvesting season. <br>
            Liquor with strong coppery colour with other special qualities i.e. aroma, flavor briskness and muscatel. <br>
            Connoisseurs have suggested Autumn flush morning Tea with some milk in the liquor. <br>
          </p>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Contact us now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-12">
                  <a class="btn btn-lg btn-block btn-primary" href="/contact-us"> Contact Us</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {{>footer}}