
    <!-- Navigation -->
    {{>navbar}}

    <!-- Masthead -->
    <header class="masthead text-white page">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <h2>What we do!</h2>
          </div>
        </div>
      </div>
    </header>

    <section class="what-we-do">
      <div class="container">
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">1</div>
          </div>
          <div class="col-6">
            <h5>Import & Export</h5>
            <p>We import and export our products in and out of Europe and across all over the globe.
            </p>
          </div>
          <div class="col-2"><img src="img/ei.png" height="100px"></div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-3"><img src="img/promo.png" height="100px"></div>
          <div class="col-6 text-right">
            <h5>Promotion</h5>
            <p>We promote any company and its products and drive sales and services.</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2</div>
          </div>
        </div>
        <!--path between 2-3-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center left-full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">3</div>
          </div>
          <div class="col-6">
            <h5>Sales Business</h5>
            <p>We have our target customers for the products like wines, olive oil, tea, handicrafts, textiles and other food and beverage items which we sell in our own promotional marketing strategies  eventually creating a new business  closely related with sales.</p>
          </div>
          <div class="col-2"><img src="img/sales.png" height="100px"></div>
        </div>
        <!--path between 3-4-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--fourth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-2"><img src="img/bd.png" height="100px"></div>
          <div class="col-6 text-right">
            <h5>Business Development</h5>
            <p>We entice prospects to engage with our products in some way and eventually generating leads which ensures business development is ongoing. </p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">4</div>
          </div>
        </div>
        <!--path between 4-5-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
                <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">5</div>
          </div>
          <div class="col-6">
            <h5>Business Expansion</h5>
            <p>We also identify new markets for existing products or discovering a need that current customers have for a modified version of an existing product.</p>
          </div>
          <div class="col-2"><img src="img/be.png" height="100px"></div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Contact us now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-12">
                  <a class="btn btn-lg btn-block btn-primary" href="/contact-us"> Contact Us</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {{>footer}}
